<main class="mb-auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
  
        <% if @book.errors.any? %>
          error
          <% @book.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        
        <%= form_with model:@book, local:true do |f| %>
        
          <div>
            <label>Title</label> </br>
            <%= f.text_field :title %>
          </div>
        
          <div>
            <label>Opinion</label></br> 
            <%= f.text_area :body %>
          </div>
        
          <div>
            <%= f.submit "Update Book" %>
          </div>
        <% end %>
        
        <%= link_to "Show", book_path(@book.id) %>
        <%= link_to "Back", books_path %>
      </div>
    </div>
  </div>
</main

<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>